body {
    background-color: #ccccff;
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 50pt;
    font-style: italic;
    color: #0000FF;
    clear: both;
}

h2 {
    text-align: center;
    font-size: 30pt;
    font-style: normal;
    color: #0000FF;
    clear: both;
}

.centred {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}